{
  "openapi": "3.1.0",
  "info": {
    "title": "OnlyPump API",
    "version": "1.0.0",
    "description": "Versioned REST gateway for the OnlyPump web and mobile applications. Read-only token intelligence today; see ARCHITECTURE.md for what's planned next."
  },
  "servers": [
    {
      "url": "https://api.onlypump.me/api/v1",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "A Supabase access token (or, for internal/admin callers, an API_KEYS token)."
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "degraded"
            ]
          },
          "db": {
            "type": "string",
            "enum": [
              "reachable",
              "unreachable"
            ]
          }
        },
        "required": [
          "status",
          "db"
        ]
      },
      "ReadyResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ready",
              "not_ready"
            ]
          },
          "checks": {
            "type": "object",
            "properties": {
              "database": {
                "type": "string",
                "enum": [
                  "ok",
                  "error"
                ]
              }
            },
            "required": [
              "database"
            ]
          }
        },
        "required": [
          "status",
          "checks"
        ]
      },
      "MeResponse": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        },
        "required": [
          "userId"
        ]
      },
      "ErrorEnvelope": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "requestId": {
                "type": "string"
              }
            },
            "required": [
              "code",
              "message",
              "requestId"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "RobinhoodTokenListResponse": {
        "type": "object",
        "properties": {
          "tokens": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DiscoveredToken"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          },
          "total": {
            "type": "integer"
          },
          "trending": {
            "type": "object",
            "properties": {
              "available": {
                "type": "boolean"
              },
              "basis": {
                "type": "string",
                "enum": [
                  "TRADE_VOLUME"
                ]
              },
              "indexedUntil": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "lagSeconds": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "reason": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "computedAt": {
                "type": "string"
              }
            },
            "required": [
              "available",
              "basis",
              "indexedUntil",
              "lagSeconds",
              "reason",
              "computedAt"
            ]
          },
          "observedAt": {
            "type": "string"
          }
        },
        "required": [
          "tokens",
          "nextCursor",
          "total",
          "observedAt"
        ]
      },
      "DiscoveredToken": {
        "type": "object",
        "properties": {
          "chain": {
            "type": "string",
            "enum": [
              "robinhood"
            ]
          },
          "venue": {
            "type": "string"
          },
          "tokenAddress": {
            "type": "string"
          },
          "deployer": {
            "type": "string"
          },
          "poolAddress": {
            "type": [
              "string",
              "null"
            ]
          },
          "curveAddress": {
            "type": [
              "string",
              "null"
            ]
          },
          "quoteAddress": {
            "type": "string"
          },
          "quoteAsset": {
            "$ref": "#/components/schemas/QuoteAssetRef"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "symbol": {
            "type": [
              "string",
              "null"
            ]
          },
          "logoUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "logo": {
            "$ref": "#/components/schemas/TokenLogo"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "socials": {
            "$ref": "#/components/schemas/TokenSocials"
          },
          "richMetadataStatus": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "FOUND",
              "UNAVAILABLE",
              null
            ]
          },
          "supply": {
            "type": [
              "string",
              "null"
            ]
          },
          "enrichmentStatus": {
            "type": "string",
            "enum": [
              "COMPLETE",
              "PENDING"
            ]
          },
          "initialBuyAmount": {
            "type": "string"
          },
          "sourceHeight": {
            "type": "string"
          },
          "sourceHash": {
            "type": "string"
          },
          "sourceTxHash": {
            "type": "string"
          },
          "sourceIndex": {
            "type": "integer"
          },
          "observedAt": {
            "type": "string"
          },
          "graduated": {
            "type": "boolean"
          },
          "graduationPairedPrincipal": {
            "type": [
              "string",
              "null"
            ]
          },
          "graduationThreshold": {
            "type": [
              "string",
              "null"
            ]
          },
          "graduationCheckedAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "graduationPositionId": {
            "type": [
              "string",
              "null"
            ]
          },
          "graduationTokenAmount": {
            "type": [
              "string",
              "null"
            ]
          },
          "graduationPairTokenAmount": {
            "type": [
              "string",
              "null"
            ]
          },
          "poolId": {
            "type": [
              "string",
              "null"
            ]
          },
          "market": {
            "$ref": "#/components/schemas/TokenMarket"
          }
        },
        "required": [
          "chain",
          "venue",
          "tokenAddress",
          "deployer",
          "poolAddress",
          "curveAddress",
          "quoteAddress",
          "quoteAsset",
          "name",
          "symbol",
          "logoUrl",
          "logo",
          "description",
          "socials",
          "richMetadataStatus",
          "supply",
          "enrichmentStatus",
          "initialBuyAmount",
          "sourceHeight",
          "sourceHash",
          "sourceTxHash",
          "sourceIndex",
          "observedAt",
          "graduated",
          "graduationPairedPrincipal",
          "graduationThreshold",
          "graduationCheckedAt",
          "graduationPositionId",
          "graduationTokenAmount",
          "graduationPairTokenAmount",
          "poolId",
          "market"
        ]
      },
      "QuoteAssetRef": {
        "type": "object",
        "properties": {
          "identified": {
            "type": "boolean"
          },
          "symbol": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "decimals": {
            "type": [
              "integer",
              "null"
            ]
          },
          "kind": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "native",
              "wrapped-native",
              "stablecoin",
              "stock-token",
              null
            ]
          },
          "usdFeed": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "identified",
          "symbol",
          "name",
          "decimals",
          "kind",
          "usdFeed"
        ]
      },
      "TokenLogo": {
        "type": "object",
        "properties": {
          "url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Relative to the API origin. Null when the token has no logo."
          },
          "status": {
            "type": "string",
            "enum": [
              "NONE",
              "PENDING",
              "READY",
              "FAILED",
              "REJECTED"
            ]
          }
        },
        "required": [
          "url",
          "status"
        ]
      },
      "TokenSocials": {
        "type": "object",
        "properties": {
          "website": {
            "type": [
              "string",
              "null"
            ]
          },
          "twitter": {
            "type": [
              "string",
              "null"
            ]
          },
          "telegram": {
            "type": [
              "string",
              "null"
            ]
          },
          "discord": {
            "type": [
              "string",
              "null"
            ]
          },
          "farcaster": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "website",
          "twitter",
          "telegram",
          "discord",
          "farcaster"
        ]
      },
      "TokenMarket": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "OK",
              "FAILED",
              "UNSUPPORTED"
            ]
          },
          "reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "venue": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "PONS_V2_BONDING_CURVE",
              "UNISWAP_V4_POOL",
              null
            ]
          },
          "blockNumber": {
            "type": [
              "string",
              "null"
            ]
          },
          "asOf": {
            "type": [
              "string",
              "null"
            ],
            "description": "Timestamp of the block the values were read at."
          },
          "priceQuote": {
            "type": [
              "string",
              "null"
            ],
            "description": "Whole quote units per whole token (spot)."
          },
          "priceUsd": {
            "type": [
              "string",
              "null"
            ]
          },
          "marketCapQuote": {
            "type": [
              "string",
              "null"
            ],
            "description": "Total supply × spot price, in whole quote units."
          },
          "marketCapUsd": {
            "type": [
              "string",
              "null"
            ]
          },
          "liquidityQuote": {
            "type": [
              "string",
              "null"
            ]
          },
          "liquidityUsd": {
            "type": [
              "string",
              "null"
            ]
          },
          "liquidityBasis": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "CURVE_REAL_QUOTE",
              "POOL_FULL_RANGE_EQUIVALENT",
              null
            ]
          },
          "bondingProgressPct": {
            "type": [
              "number",
              "null"
            ],
            "description": "Share of the curve's sellable allocation bought out (graduation triggers at 100)."
          },
          "quoteRaised": {
            "type": [
              "string",
              "null"
            ]
          },
          "graduationThreshold": {
            "type": [
              "string",
              "null"
            ]
          },
          "readyToGraduate": {
            "type": "boolean"
          },
          "marketCapChange1hUsd": {
            "type": [
              "string",
              "null"
            ]
          },
          "marketCapChange1hPct": {
            "type": [
              "string",
              "null"
            ]
          },
          "volume5mUsd": {
            "type": [
              "string",
              "null"
            ]
          },
          "volume1hUsd": {
            "type": [
              "string",
              "null"
            ]
          },
          "volumeBaselineHourlyUsd": {
            "type": [
              "string",
              "null"
            ],
            "description": "Average hourly USD volume over the six hours before the last hour."
          },
          "volumeSurge": {
            "type": [
              "string",
              "null"
            ],
            "description": "Last-hour volume ÷ that baseline (baseline floored at $50)."
          },
          "trades1h": {
            "type": [
              "integer",
              "null"
            ]
          },
          "buys1h": {
            "type": [
              "integer",
              "null"
            ]
          },
          "sells1h": {
            "type": [
              "integer",
              "null"
            ]
          },
          "traders1h": {
            "type": [
              "integer",
              "null"
            ]
          },
          "trendingScore": {
            "type": [
              "string",
              "null"
            ]
          },
          "usdSource": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "status",
          "reason",
          "venue",
          "blockNumber",
          "asOf",
          "priceQuote",
          "priceUsd",
          "marketCapQuote",
          "marketCapUsd",
          "liquidityQuote",
          "liquidityUsd",
          "liquidityBasis",
          "bondingProgressPct",
          "quoteRaised",
          "graduationThreshold",
          "readyToGraduate",
          "marketCapChange1hUsd",
          "marketCapChange1hPct",
          "volume5mUsd",
          "volume1hUsd",
          "volumeBaselineHourlyUsd",
          "volumeSurge",
          "trades1h",
          "buys1h",
          "sells1h",
          "traders1h",
          "trendingScore",
          "usdSource"
        ]
      },
      "RobinhoodStatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "LIVE",
              "LAGGING",
              "DEGRADED",
              "REORG_RECOVERY",
              "UNAVAILABLE"
            ]
          },
          "discovery": {
            "$ref": "#/components/schemas/SourceHealthDetail"
          },
          "trades": {
            "$ref": "#/components/schemas/SourceHealthDetail"
          },
          "streams": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SourceHealthDetail"
            }
          },
          "session": {
            "type": "object",
            "properties": {
              "mode": {
                "type": "string"
              },
              "id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "startBlock": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "startTimestamp": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "mode",
              "id",
              "startBlock",
              "startTimestamp"
            ]
          },
          "observedAt": {
            "type": "string"
          }
        },
        "required": [
          "status",
          "discovery",
          "trades",
          "streams",
          "session",
          "observedAt"
        ]
      },
      "SourceHealthDetail": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "LIVE",
              "LAGGING",
              "DEGRADED",
              "REORG_RECOVERY",
              "UNAVAILABLE"
            ]
          },
          "lastHeight": {
            "type": [
              "string",
              "null"
            ]
          },
          "lastObservedChainHeight": {
            "type": [
              "string",
              "null"
            ]
          },
          "blocksBehind": {
            "type": [
              "string",
              "null"
            ]
          },
          "lastPollAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "lastSuccessAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "secondsSinceLastSuccess": {
            "type": [
              "integer",
              "null"
            ]
          },
          "lastError": {
            "type": [
              "string",
              "null"
            ]
          },
          "lastErrorAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "unresolvedReorg": {
            "type": "boolean"
          }
        },
        "required": [
          "source",
          "status",
          "lastHeight",
          "lastObservedChainHeight",
          "blocksBehind",
          "lastPollAt",
          "lastSuccessAt",
          "secondsSinceLastSuccess",
          "lastError",
          "lastErrorAt",
          "unresolvedReorg"
        ]
      },
      "RobinhoodTokenDetailResponse": {
        "type": "object",
        "properties": {
          "token": {
            "$ref": "#/components/schemas/DiscoveredToken"
          },
          "trades": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChainTrade"
            }
          },
          "observedAt": {
            "type": "string"
          }
        },
        "required": [
          "token",
          "trades",
          "observedAt"
        ]
      },
      "ChainTrade": {
        "type": "object",
        "properties": {
          "chain": {
            "type": "string",
            "enum": [
              "robinhood"
            ]
          },
          "venue": {
            "type": "string"
          },
          "tokenAddress": {
            "type": "string"
          },
          "poolAddress": {
            "type": [
              "string",
              "null"
            ]
          },
          "poolId": {
            "type": [
              "string",
              "null"
            ]
          },
          "side": {
            "type": "string",
            "enum": [
              "buy",
              "sell"
            ]
          },
          "tokenAmount": {
            "type": "string"
          },
          "quoteAmount": {
            "type": "string"
          },
          "quoteAddress": {
            "type": "string"
          },
          "priceQuote": {
            "type": "string"
          },
          "trader": {
            "type": "string"
          },
          "sourceHeight": {
            "type": "string"
          },
          "sourceHash": {
            "type": "string"
          },
          "sourceTxHash": {
            "type": "string"
          },
          "sourceIndex": {
            "type": "integer"
          },
          "observedAt": {
            "type": "string"
          }
        },
        "required": [
          "chain",
          "venue",
          "tokenAddress",
          "poolAddress",
          "poolId",
          "side",
          "tokenAmount",
          "quoteAmount",
          "quoteAddress",
          "priceQuote",
          "trader",
          "sourceHeight",
          "sourceHash",
          "sourceTxHash",
          "sourceIndex",
          "observedAt"
        ]
      },
      "TokenHistoryBackfill": {
        "type": "object",
        "properties": {
          "tokenAddress": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "COMPLETE",
              "PARTIAL",
              "FAILED",
              "NOT_STARTED",
              "RUNNING"
            ]
          },
          "fromBlock": {
            "type": [
              "string",
              "null"
            ]
          },
          "toBlock": {
            "type": [
              "string",
              "null"
            ]
          },
          "cursor": {
            "type": [
              "string",
              "null"
            ]
          },
          "tradesWritten": {
            "type": "integer"
          },
          "logsScanned": {
            "type": "integer"
          },
          "requests": {
            "type": "integer"
          },
          "elapsedMs": {
            "type": [
              "integer",
              "null"
            ]
          },
          "stoppedReason": {
            "type": [
              "string",
              "null"
            ]
          },
          "coveredVenues": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "uncoveredVenues": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "tokenAddress",
          "status",
          "fromBlock",
          "toBlock",
          "cursor",
          "tradesWritten",
          "logsScanned",
          "requests",
          "elapsedMs",
          "stoppedReason",
          "coveredVenues",
          "uncoveredVenues"
        ]
      },
      "CandleHistoryResponse": {
        "type": "object",
        "properties": {
          "chain": {
            "type": "string",
            "enum": [
              "robinhood"
            ]
          },
          "venue": {
            "type": "string"
          },
          "tokenAddress": {
            "type": "string"
          },
          "quoteAddress": {
            "type": "string"
          },
          "resolution": {
            "$ref": "#/components/schemas/CandleResolution"
          },
          "candles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Candle"
            }
          },
          "nextCursor": {
            "type": [
              "integer",
              "null"
            ]
          },
          "observedAt": {
            "type": "string"
          },
          "freshness": {
            "$ref": "#/components/schemas/CandleFreshness"
          },
          "pricingBasis": {
            "type": "string"
          },
          "uniqueTraderSemantics": {
            "type": "string"
          },
          "usd": {
            "type": "object",
            "properties": {
              "available": {
                "type": "boolean"
              },
              "provider": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "note": {
                "type": "string"
              }
            },
            "required": [
              "available",
              "provider",
              "note"
            ]
          }
        },
        "required": [
          "chain",
          "venue",
          "tokenAddress",
          "quoteAddress",
          "resolution",
          "candles",
          "nextCursor",
          "observedAt",
          "freshness",
          "pricingBasis",
          "uniqueTraderSemantics",
          "usd"
        ]
      },
      "CandleResolution": {
        "type": "string",
        "enum": [
          "1s",
          "5s",
          "15s",
          "1m",
          "5m",
          "15m",
          "1h"
        ]
      },
      "Candle": {
        "type": "object",
        "properties": {
          "startTime": {
            "type": "integer"
          },
          "open": {
            "type": "string"
          },
          "high": {
            "type": "string"
          },
          "low": {
            "type": "string"
          },
          "close": {
            "type": "string"
          },
          "volumeToken": {
            "type": "string"
          },
          "volumeQuote": {
            "type": "string"
          },
          "volumeUsd": {
            "type": [
              "string",
              "null"
            ]
          },
          "trades": {
            "type": "integer"
          },
          "uniqueTraders": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "provisional",
              "final"
            ]
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "startTime",
          "open",
          "high",
          "low",
          "close",
          "volumeToken",
          "volumeQuote",
          "volumeUsd",
          "trades",
          "uniqueTraders",
          "status",
          "updatedAt"
        ]
      },
      "CandleFreshness": {
        "type": "string",
        "enum": [
          "live",
          "lagging",
          "degraded",
          "reorg_recovery",
          "unavailable"
        ]
      },
      "ScanAcceptedResponse": {
        "type": "object",
        "properties": {
          "jobKey": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "required": [
          "jobKey",
          "status"
        ]
      },
      "CreateWalletChallengeResponse": {
        "type": "object",
        "properties": {
          "challengeId": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string"
          }
        },
        "required": [
          "challengeId",
          "message",
          "expiresAt"
        ]
      },
      "CreateWalletChallengeRequest": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "minLength": 32,
            "maxLength": 64,
            "example": "9xQeWvG816bUx9EPjHmaT23yvVM2ZWbrrpZb9PusVFin"
          }
        },
        "required": [
          "address"
        ]
      },
      "VerifiedWallet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "network": {
            "type": "string"
          },
          "verifiedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "address",
          "network",
          "verifiedAt"
        ]
      },
      "VerifyWalletChallengeRequest": {
        "type": "object",
        "properties": {
          "challengeId": {
            "type": "string",
            "minLength": 1
          },
          "address": {
            "type": "string",
            "minLength": 32,
            "maxLength": 64
          },
          "signature": {
            "type": "string",
            "minLength": 1,
            "description": "Base58-encoded detached Ed25519 signature from wallet-adapter's signMessage."
          }
        },
        "required": [
          "challengeId",
          "address",
          "signature"
        ]
      },
      "VerifiedWalletList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/VerifiedWallet"
        }
      },
      "RealtimeTicketResponse": {
        "type": "object",
        "properties": {
          "ticket": {
            "type": "string"
          },
          "expiresInMs": {
            "type": "number"
          }
        },
        "required": [
          "ticket",
          "expiresInMs"
        ]
      },
      "PoolEvidenceResponse": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "apiVersion": {
                "type": "number",
                "enum": [
                  1
                ]
              },
              "status": {
                "type": "string",
                "enum": [
                  "AVAILABLE"
                ]
              },
              "evidence": {
                "$ref": "#/components/schemas/PoolEvidence"
              }
            },
            "required": [
              "apiVersion",
              "status",
              "evidence"
            ]
          },
          {
            "type": "object",
            "properties": {
              "apiVersion": {
                "type": "number",
                "enum": [
                  1
                ]
              },
              "status": {
                "type": "string",
                "enum": [
                  "UNAVAILABLE"
                ]
              },
              "reason": {
                "$ref": "#/components/schemas/PoolEvidenceMissingReason"
              },
              "detail": {
                "type": "string"
              }
            },
            "required": [
              "apiVersion",
              "status",
              "reason",
              "detail"
            ]
          }
        ]
      },
      "PoolEvidence": {
        "type": "object",
        "properties": {
          "poolId": {
            "type": "string"
          },
          "poolKey": {
            "$ref": "#/components/schemas/PoolKey"
          },
          "protocol": {
            "type": "string",
            "enum": [
              "uniswap-v4"
            ]
          },
          "slot0": {
            "$ref": "#/components/schemas/PoolSlot0"
          },
          "liquidity": {
            "type": "string",
            "description": "Active in-range liquidity (uint128), decimal string."
          },
          "priceC1PerC0X18": {
            "type": "string",
            "description": "currency1 per currency0, scaled by 1e18. Decimal string."
          },
          "priceC0PerC1X18": {
            "type": "string",
            "description": "currency0 per currency1, scaled by 1e18 — native per whole token."
          },
          "nativeSymbol": {
            "type": "string",
            "description": "Symbol for currency0, e.g. ETH.",
            "example": "ETH"
          },
          "lpFeeHundredthsBip": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Null when the pool uses a dynamic fee. 0 is a real zero fee, not unknown."
          },
          "isDynamicFee": {
            "type": "boolean"
          },
          "creatorTaxBps": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Basis points the hook takes AFTER the swap. Not applied to any figure here."
          },
          "observedAtBlock": {
            "type": "string"
          },
          "calculationVersion": {
            "type": "string"
          },
          "executionCaveat": {
            "type": "string",
            "description": "Why these numbers are not an executable quote. Always present for this venue — the Pons hook takes an after-swap delta, so realized proceeds are below raw pool output."
          }
        },
        "required": [
          "poolId",
          "poolKey",
          "protocol",
          "slot0",
          "liquidity",
          "priceC1PerC0X18",
          "priceC0PerC1X18",
          "nativeSymbol",
          "lpFeeHundredthsBip",
          "isDynamicFee",
          "creatorTaxBps",
          "observedAtBlock",
          "calculationVersion",
          "executionCaveat"
        ]
      },
      "PoolKey": {
        "type": "object",
        "properties": {
          "currency0": {
            "type": "string",
            "description": "Lower-sorted currency. Native ETH (0x0) for Pons V2."
          },
          "currency1": {
            "type": "string",
            "description": "Higher-sorted currency — the launched token for Pons V2."
          },
          "fee": {
            "type": "integer",
            "description": "Fixed LP fee in hundredths of a bip, or the dynamic-fee marker."
          },
          "tickSpacing": {
            "type": "integer"
          },
          "hooks": {
            "type": "string"
          }
        },
        "required": [
          "currency0",
          "currency1",
          "fee",
          "tickSpacing",
          "hooks"
        ]
      },
      "PoolSlot0": {
        "type": "object",
        "properties": {
          "sqrtPriceX96": {
            "type": "string",
            "description": "Decimal string — exceeds Number.MAX_SAFE_INTEGER."
          },
          "tick": {
            "type": "integer"
          },
          "protocolFee": {
            "type": "integer"
          },
          "lpFee": {
            "type": "integer"
          }
        },
        "required": [
          "sqrtPriceX96",
          "tick",
          "protocolFee",
          "lpFee"
        ]
      },
      "PoolEvidenceMissingReason": {
        "type": "string",
        "enum": [
          "POOL_NOT_INITIALIZED",
          "NOT_GRADUATED",
          "NO_LIQUIDITY",
          "UNSUPPORTED_VENUE",
          "RPC_UNAVAILABLE"
        ]
      },
      "CalloutListResponse": {
        "type": "object",
        "properties": {
          "apiVersion": {
            "type": "number",
            "enum": [
              1
            ]
          },
          "callouts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Callout"
            }
          }
        },
        "required": [
          "apiVersion",
          "callouts"
        ]
      },
      "Callout": {
        "type": "object",
        "properties": {
          "tokenAddress": {
            "type": "string",
            "example": "EKpQGSJtjMFqKZ9KQanSqYXRcF8fBopzLHYxdM65zcjm"
          },
          "tokenSymbol": {
            "type": [
              "string",
              "null"
            ],
            "example": "WIF"
          },
          "tokenName": {
            "type": [
              "string",
              "null"
            ],
            "example": "dogwifhat"
          },
          "pnlPercentage": {
            "type": "number",
            "description": "Verified PnL at check time, in percent.",
            "example": 650
          },
          "initialMarketCap": {
            "type": "number",
            "example": 18000
          },
          "currentMarketCap": {
            "type": [
              "number",
              "null"
            ],
            "example": 135000
          },
          "multiple": {
            "type": [
              "number",
              "null"
            ],
            "description": "currentMarketCap / initialMarketCap, or null when not computable.",
            "example": 7.5
          },
          "alertedAt": {
            "type": "string",
            "description": "When the call was first made (ISO 8601)."
          },
          "verifiedAt": {
            "type": [
              "string",
              "null"
            ],
            "description": "When the tracker last verified the PnL against market data (ISO 8601)."
          },
          "shared": {
            "type": "boolean",
            "description": "Whether the PnL card was actually shared to Discord/Telegram."
          }
        },
        "required": [
          "tokenAddress",
          "tokenSymbol",
          "tokenName",
          "pnlPercentage",
          "initialMarketCap",
          "currentMarketCap",
          "multiple",
          "alertedAt",
          "verifiedAt",
          "shared"
        ]
      },
      "QuoteResponse": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "apiVersion": {
                "type": "number",
                "enum": [
                  1
                ]
              },
              "status": {
                "type": "string",
                "enum": [
                  "QUOTED"
                ]
              },
              "snapshotId": {
                "type": "string"
              },
              "quote": {
                "$ref": "#/components/schemas/PonsQuote"
              }
            },
            "required": [
              "apiVersion",
              "status",
              "snapshotId",
              "quote"
            ]
          },
          {
            "type": "object",
            "properties": {
              "apiVersion": {
                "type": "number",
                "enum": [
                  1
                ]
              },
              "status": {
                "type": "string",
                "enum": [
                  "UNSUPPORTED"
                ]
              },
              "snapshotId": {
                "type": "string"
              },
              "reason": {
                "type": "string"
              },
              "detail": {
                "type": "string"
              },
              "venue": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/QuoteVenue"
                  },
                  {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                ]
              },
              "block": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PinnedBlockRef"
                  },
                  {
                    "type": [
                      "object",
                      "null"
                    ]
                  }
                ]
              }
            },
            "required": [
              "apiVersion",
              "status",
              "snapshotId",
              "reason",
              "detail",
              "venue",
              "block"
            ]
          },
          {
            "type": "object",
            "properties": {
              "apiVersion": {
                "type": "number",
                "enum": [
                  1
                ]
              },
              "status": {
                "type": "string",
                "enum": [
                  "UNAVAILABLE"
                ]
              },
              "reason": {
                "type": "string"
              },
              "detail": {
                "type": "string"
              },
              "retryable": {
                "type": "boolean",
                "enum": [
                  true
                ]
              }
            },
            "required": [
              "apiVersion",
              "status",
              "reason",
              "detail",
              "retryable"
            ]
          }
        ]
      },
      "PonsQuote": {
        "type": "object",
        "properties": {
          "chain": {
            "type": "string",
            "enum": [
              "robinhood"
            ]
          },
          "chainId": {
            "type": "integer"
          },
          "tokenAddress": {
            "type": "string"
          },
          "side": {
            "type": "string",
            "enum": [
              "buy",
              "sell"
            ]
          },
          "venue": {
            "$ref": "#/components/schemas/QuoteVenue"
          },
          "method": {
            "type": "string",
            "enum": [
              "CURVE_FORMULA_AT_PINNED_BLOCK",
              "V4_QUOTER_ETH_CALL"
            ]
          },
          "input": {
            "$ref": "#/components/schemas/AssetAmount"
          },
          "output": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AssetAmount"
              },
              {
                "type": "object",
                "properties": {
                  "expected": {
                    "type": "string",
                    "pattern": "^\\d+$",
                    "description": "Expected output, already net of every fee.",
                    "example": "10000000000000000"
                  },
                  "minimum": {
                    "type": "string",
                    "pattern": "^\\d+$",
                    "description": "Expected output reduced by the slippage tolerance. A transaction below it reverts.",
                    "example": "10000000000000000"
                  }
                },
                "required": [
                  "expected",
                  "minimum"
                ]
              }
            ]
          },
          "spent": {
            "type": "string",
            "pattern": "^\\d+$",
            "description": "Input the venue keeps. Below input.amount only for a clamped curve buy.",
            "example": "10000000000000000"
          },
          "refund": {
            "type": "string",
            "pattern": "^\\d+$",
            "description": "Non-negative integer in base units, as a decimal string.",
            "example": "10000000000000000"
          },
          "slippageBps": {
            "type": "integer"
          },
          "fees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QuoteFeeLine"
            }
          },
          "priceImpact": {
            "type": "object",
            "properties": {
              "allInBps": {
                "type": "integer",
                "description": "Shortfall versus the pre-trade price, fees included."
              },
              "poolOnlyBps": {
                "type": [
                  "integer",
                  "null"
                ],
                "description": "Pool price movement alone, excluding hook fees. Null for curve quotes."
              },
              "spotOutPerInX36": {
                "type": "string",
                "pattern": "^\\d+$",
                "description": "Pre-trade spot, output base units per input base unit, scaled by 1e36.",
                "example": "10000000000000000"
              }
            },
            "required": [
              "allInBps",
              "poolOnlyBps",
              "spotOutPerInX36"
            ]
          },
          "block": {
            "$ref": "#/components/schemas/PinnedBlockRef"
          },
          "quotedAt": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string"
          },
          "calculationVersion": {
            "type": "string"
          },
          "policyVersion": {
            "type": "string"
          },
          "venueState": {
            "oneOf": [
              {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "curve"
                    ]
                  },
                  "curve": {
                    "type": "string"
                  },
                  "quoteReserve": {
                    "type": "string",
                    "pattern": "^\\d+$",
                    "description": "Virtual + real quote reserve that prices curve trades. Not an ETH balance.",
                    "example": "10000000000000000"
                  },
                  "tokenReserve": {
                    "type": "string",
                    "pattern": "^\\d+$",
                    "description": "Non-negative integer in base units, as a decimal string.",
                    "example": "10000000000000000"
                  },
                  "sellableTokens": {
                    "type": "string",
                    "pattern": "^\\d+$",
                    "description": "Non-negative integer in base units, as a decimal string.",
                    "example": "10000000000000000"
                  },
                  "graduationThreshold": {
                    "type": "string",
                    "pattern": "^\\d+$",
                    "description": "Non-negative integer in base units, as a decimal string.",
                    "example": "10000000000000000"
                  },
                  "trackedQuote": {
                    "type": "string",
                    "pattern": "^\\d+$",
                    "description": "Real quote asset the curve holds from trading.",
                    "example": "10000000000000000"
                  }
                },
                "required": [
                  "kind",
                  "curve",
                  "quoteReserve",
                  "tokenReserve",
                  "sellableTokens",
                  "graduationThreshold",
                  "trackedQuote"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "pool"
                    ]
                  },
                  "poolId": {
                    "type": "string"
                  },
                  "poolKey": {
                    "$ref": "#/components/schemas/QuotePoolKey"
                  },
                  "sqrtPriceX96": {
                    "type": "string",
                    "pattern": "^\\d+$",
                    "description": "Non-negative integer in base units, as a decimal string.",
                    "example": "10000000000000000"
                  },
                  "tick": {
                    "type": "integer"
                  },
                  "activeLiquidityRaw": {
                    "type": "string",
                    "pattern": "^\\d+$",
                    "description": "Uniswap V4 active liquidity L. An advanced protocol parameter — not ETH reserves, not dollars, not available sell proceeds.",
                    "example": "10000000000000000"
                  },
                  "quoter": {
                    "type": "string"
                  },
                  "quoterGasEstimate": {
                    "type": "string",
                    "pattern": "^\\d+$",
                    "description": "Non-negative integer in base units, as a decimal string.",
                    "example": "10000000000000000"
                  }
                },
                "required": [
                  "kind",
                  "poolId",
                  "poolKey",
                  "sqrtPriceX96",
                  "tick",
                  "activeLiquidityRaw",
                  "quoter",
                  "quoterGasEstimate"
                ]
              }
            ]
          },
          "warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EvidenceLimitation"
            }
          },
          "limitations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EvidenceLimitation"
            }
          },
          "sourceReferences": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SourceReference"
            }
          }
        },
        "required": [
          "chain",
          "chainId",
          "tokenAddress",
          "side",
          "venue",
          "method",
          "input",
          "output",
          "spent",
          "refund",
          "slippageBps",
          "fees",
          "priceImpact",
          "block",
          "quotedAt",
          "expiresAt",
          "calculationVersion",
          "policyVersion",
          "venueState",
          "warnings",
          "limitations",
          "sourceReferences"
        ]
      },
      "QuoteVenue": {
        "type": "string",
        "enum": [
          "PONS_V2_BONDING_CURVE",
          "PONS_V2_UNISWAP_V4"
        ]
      },
      "AssetAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Token address; 0x000…000 is native ETH."
          },
          "symbol": {
            "type": [
              "string",
              "null"
            ]
          },
          "decimals": {
            "type": "integer"
          },
          "amount": {
            "type": "string",
            "pattern": "^\\d+$",
            "description": "Non-negative integer in base units, as a decimal string.",
            "example": "10000000000000000"
          }
        },
        "required": [
          "currency",
          "symbol",
          "decimals",
          "amount"
        ]
      },
      "QuoteFeeLine": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "CURVE_PROTOCOL_FEE",
              "CURVE_CREATOR_TAX",
              "HOOK_FEE",
              "HOOK_CREATOR_TAX"
            ]
          },
          "bps": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "chargedOn": {
            "type": "string",
            "enum": [
              "INPUT",
              "OUTPUT"
            ]
          },
          "amount": {
            "type": "object",
            "properties": {
              "min": {
                "type": "string",
                "pattern": "^\\d+$",
                "description": "Non-negative integer in base units, as a decimal string.",
                "example": "10000000000000000"
              },
              "max": {
                "type": "string",
                "pattern": "^\\d+$",
                "description": "Non-negative integer in base units, as a decimal string.",
                "example": "10000000000000000"
              },
              "exact": {
                "type": "boolean",
                "description": "False when integer rounding leaves the split known only to within a range (at most 1 base unit)."
              }
            },
            "required": [
              "min",
              "max",
              "exact"
            ]
          }
        },
        "required": [
          "kind",
          "bps",
          "currency",
          "chargedOn",
          "amount"
        ]
      },
      "PinnedBlockRef": {
        "type": "object",
        "properties": {
          "number": {
            "type": "string",
            "pattern": "^\\d+$",
            "description": "Non-negative integer in base units, as a decimal string.",
            "example": "10000000000000000"
          },
          "hash": {
            "type": "string",
            "example": "0x6554d2c6d1a1b2f99b9782f9d4157c125b6d051129d859df0fdb4395751d4d25"
          },
          "timestamp": {
            "type": "string",
            "pattern": "^\\d+$",
            "description": "Block timestamp, Unix seconds.",
            "example": "10000000000000000"
          }
        },
        "required": [
          "number",
          "hash",
          "timestamp"
        ]
      },
      "QuotePoolKey": {
        "type": "object",
        "properties": {
          "currency0": {
            "type": "string"
          },
          "currency1": {
            "type": "string"
          },
          "fee": {
            "type": "integer"
          },
          "tickSpacing": {
            "type": "integer"
          },
          "hooks": {
            "type": "string"
          }
        },
        "required": [
          "currency0",
          "currency1",
          "fee",
          "tickSpacing",
          "hooks"
        ]
      },
      "EvidenceLimitation": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "SourceReference": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "official-docs",
              "official-repo",
              "verified-contract",
              "fork-execution"
            ]
          },
          "ref": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "accessed": {
            "type": "string"
          },
          "reliedOn": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "kind",
          "ref",
          "version",
          "accessed",
          "reliedOn"
        ]
      },
      "QuoteRequest": {
        "type": "object",
        "properties": {
          "side": {
            "type": "string",
            "enum": [
              "buy",
              "sell"
            ]
          },
          "amount": {
            "type": "string",
            "pattern": "^\\d+$",
            "description": "Exact input in the input asset's base units (pair asset for buys, token for sells).",
            "example": "10000000000000000"
          },
          "slippageBps": {
            "type": "integer",
            "minimum": 1,
            "maximum": 5000
          }
        },
        "required": [
          "side",
          "amount",
          "slippageBps"
        ]
      },
      "SimulationResponse": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "apiVersion": {
                "type": "number",
                "enum": [
                  1
                ]
              },
              "status": {
                "type": "string",
                "enum": [
                  "SIMULATED"
                ]
              },
              "snapshotId": {
                "type": "string"
              },
              "quoteId": {
                "type": "string"
              },
              "simulation": {
                "$ref": "#/components/schemas/RouteSimulation"
              }
            },
            "required": [
              "apiVersion",
              "status",
              "snapshotId",
              "quoteId",
              "simulation"
            ]
          },
          {
            "type": "object",
            "properties": {
              "apiVersion": {
                "type": "number",
                "enum": [
                  1
                ]
              },
              "status": {
                "type": "string",
                "enum": [
                  "REVERTED"
                ]
              },
              "snapshotId": {
                "type": "string"
              },
              "quoteId": {
                "type": "string"
              },
              "simulation": {
                "$ref": "#/components/schemas/RouteSimulation"
              }
            },
            "required": [
              "apiVersion",
              "status",
              "snapshotId",
              "quoteId",
              "simulation"
            ]
          },
          {
            "type": "object",
            "properties": {
              "apiVersion": {
                "type": "number",
                "enum": [
                  1
                ]
              },
              "status": {
                "type": "string",
                "enum": [
                  "UNSUPPORTED"
                ]
              },
              "snapshotId": {
                "type": "string"
              },
              "quoteId": {
                "type": "string"
              },
              "reason": {
                "type": "string"
              },
              "detail": {
                "type": "string"
              }
            },
            "required": [
              "apiVersion",
              "status",
              "snapshotId",
              "quoteId",
              "reason",
              "detail"
            ]
          },
          {
            "type": "object",
            "properties": {
              "apiVersion": {
                "type": "number",
                "enum": [
                  1
                ]
              },
              "status": {
                "type": "string",
                "enum": [
                  "UNAVAILABLE"
                ]
              },
              "reason": {
                "type": "string"
              },
              "detail": {
                "type": "string"
              },
              "retryable": {
                "type": "boolean",
                "enum": [
                  true
                ]
              }
            },
            "required": [
              "apiVersion",
              "status",
              "reason",
              "detail",
              "retryable"
            ]
          }
        ]
      },
      "RouteSimulation": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "SIMULATED",
              "REVERTED"
            ]
          },
          "block": {
            "$ref": "#/components/schemas/PinnedBlockRef"
          },
          "simulatedAt": {
            "type": "string"
          },
          "method": {
            "type": "string",
            "enum": [
              "ETH_CALL_STATE_OVERRIDE"
            ]
          },
          "route": {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "UNIVERSAL_ROUTER",
                  "BONDING_CURVE"
                ]
              },
              "target": {
                "type": "string"
              }
            },
            "required": [
              "kind",
              "target"
            ]
          },
          "account": {
            "type": "string",
            "description": "Synthetic account the route ran from. Not your wallet."
          },
          "simulator": {
            "type": "object",
            "properties": {
              "sourceSha256": {
                "type": "string"
              },
              "runtimeCodeHash": {
                "type": "string"
              }
            },
            "required": [
              "sourceSha256",
              "runtimeCodeHash"
            ]
          },
          "inputBalanceOverride": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string"
              },
              "slot": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "currency",
              "slot"
            ]
          },
          "result": {
            "type": "object",
            "properties": {
              "success": {
                "type": "boolean"
              },
              "spent": {
                "type": "string",
                "pattern": "^\\d+$",
                "description": "Non-negative integer in base units, as a decimal string.",
                "example": "10000000000000000"
              },
              "received": {
                "type": "string",
                "pattern": "^\\d+$",
                "description": "Non-negative integer in base units, as a decimal string.",
                "example": "10000000000000000"
              },
              "gasUsed": {
                "type": "string",
                "pattern": "^\\d+$",
                "description": "Non-negative integer in base units, as a decimal string.",
                "example": "10000000000000000"
              },
              "expectedOut": {
                "type": "string",
                "pattern": "^\\d+$",
                "description": "Non-negative integer in base units, as a decimal string.",
                "example": "10000000000000000"
              },
              "minimumOut": {
                "type": "string",
                "pattern": "^\\d+$",
                "description": "Non-negative integer in base units, as a decimal string.",
                "example": "10000000000000000"
              },
              "matchesQuote": {
                "type": "boolean"
              },
              "revert": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "selector": {
                    "type": "string"
                  },
                  "data": {
                    "type": "string"
                  },
                  "meaning": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "selector",
                  "data",
                  "meaning"
                ]
              }
            },
            "required": [
              "success",
              "spent",
              "received",
              "gasUsed",
              "expectedOut",
              "minimumOut",
              "matchesQuote",
              "revert"
            ]
          },
          "calculationVersion": {
            "type": "string"
          },
          "limitations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EvidenceLimitation"
            }
          }
        },
        "required": [
          "status",
          "block",
          "simulatedAt",
          "method",
          "route",
          "account",
          "simulator",
          "inputBalanceOverride",
          "result",
          "calculationVersion",
          "limitations"
        ]
      },
      "SimulationRequest": {
        "type": "object",
        "properties": {
          "quoteId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "quoteId"
        ]
      },
      "DiscoveryChainsResponse": {
        "type": "object",
        "properties": {
          "chains": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "chain": {
                  "type": "string",
                  "enum": [
                    "robinhood",
                    "solana"
                  ]
                },
                "discovery": {
                  "type": "string",
                  "enum": [
                    "AVAILABLE",
                    "UNAVAILABLE"
                  ]
                },
                "providers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "label": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "AVAILABLE",
                          "UNAVAILABLE"
                        ]
                      },
                      "reason": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "label",
                      "status",
                      "reason"
                    ]
                  }
                },
                "reason": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "chain",
                "discovery",
                "providers",
                "reason"
              ]
            }
          }
        },
        "required": [
          "chains"
        ]
      },
      "TokenMarketDataResponse": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "apiVersion": {
                "type": "number",
                "enum": [
                  1
                ]
              },
              "status": {
                "type": "string",
                "enum": [
                  "AVAILABLE"
                ]
              },
              "market": {
                "$ref": "#/components/schemas/TokenMarketData"
              }
            },
            "required": [
              "apiVersion",
              "status",
              "market"
            ]
          },
          {
            "type": "object",
            "properties": {
              "apiVersion": {
                "type": "number",
                "enum": [
                  1
                ]
              },
              "status": {
                "type": "string",
                "enum": [
                  "UNAVAILABLE"
                ]
              },
              "reason": {
                "type": "string",
                "enum": [
                  "UNKNOWN_TOKEN",
                  "DECIMALS_UNAVAILABLE",
                  "DECIMALS_CONFLICT",
                  "DATABASE_ONLY_DEPLOYMENT"
                ]
              },
              "detail": {
                "type": "string"
              }
            },
            "required": [
              "apiVersion",
              "status",
              "reason",
              "detail"
            ]
          }
        ]
      },
      "TokenMarketData": {
        "type": "object",
        "properties": {
          "token": {
            "type": "object",
            "properties": {
              "address": {
                "type": "string"
              },
              "symbol": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "name": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "decimals": {
                "type": "integer"
              },
              "lifecycle": {
                "type": "string",
                "enum": [
                  "BONDING",
                  "GRADUATED"
                ]
              }
            },
            "required": [
              "address",
              "symbol",
              "name",
              "decimals",
              "lifecycle"
            ]
          },
          "quoteAsset": {
            "type": "object",
            "properties": {
              "address": {
                "type": "string"
              },
              "symbol": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Only set when the address is on an official registry; never inferred from the token's own symbol()."
              },
              "decimals": {
                "type": "integer"
              },
              "identified": {
                "type": "boolean"
              },
              "usdFeed": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "address",
              "symbol",
              "decimals",
              "identified",
              "usdFeed"
            ]
          },
          "price": {
            "type": "object",
            "properties": {
              "native": {
                "type": [
                  "string",
                  "null"
                ],
                "pattern": "^-?\\d+(\\.\\d+)?$",
                "description": "Decimal string, already scaled by decimals.",
                "example": "0.000000014640145702"
              },
              "lastTradeAt": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "usd": {
                "type": [
                  "string",
                  "null"
                ],
                "pattern": "^-?\\d+(\\.\\d+)?$",
                "description": "Decimal string, already scaled by decimals.",
                "example": "0.000000014640145702"
              },
              "usdBasis": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "usdUnavailableReason": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "native",
              "lastTradeAt",
              "usd",
              "usdBasis",
              "usdUnavailableReason"
            ]
          },
          "valuation": {
            "type": "object",
            "properties": {
              "totalSupply": {
                "type": [
                  "string",
                  "null"
                ],
                "pattern": "^-?\\d+(\\.\\d+)?$",
                "description": "Decimal string, already scaled by decimals.",
                "example": "0.000000014640145702"
              },
              "fdvNative": {
                "type": [
                  "string",
                  "null"
                ],
                "pattern": "^-?\\d+(\\.\\d+)?$",
                "description": "Decimal string, already scaled by decimals.",
                "example": "0.000000014640145702"
              },
              "fdvUsd": {
                "type": [
                  "string",
                  "null"
                ],
                "pattern": "^-?\\d+(\\.\\d+)?$",
                "description": "Decimal string, already scaled by decimals.",
                "example": "0.000000014640145702"
              },
              "basis": {
                "type": "string",
                "enum": [
                  "TOTAL_SUPPLY_x_LAST_TRADE_PRICE"
                ]
              },
              "circulatingSupply": {
                "type": "null"
              },
              "circulatingSupplyReason": {
                "type": "string"
              }
            },
            "required": [
              "totalSupply",
              "fdvNative",
              "fdvUsd",
              "basis",
              "circulatingSupply",
              "circulatingSupplyReason"
            ]
          },
          "coverage": {
            "type": "object",
            "properties": {
              "from": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "to": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "truncated": {
                "type": "boolean"
              },
              "notes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "required": [
              "from",
              "to",
              "truncated",
              "notes"
            ]
          },
          "windows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MarketWindow"
            }
          },
          "recentTrades": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MarketRecentTrade"
            }
          },
          "live": {
            "$ref": "#/components/schemas/TokenMarket"
          },
          "observedAt": {
            "type": "string"
          }
        },
        "required": [
          "token",
          "quoteAsset",
          "price",
          "valuation",
          "coverage",
          "windows",
          "recentTrades",
          "live",
          "observedAt"
        ]
      },
      "MarketWindow": {
        "type": "object",
        "properties": {
          "window": {
            "type": "string",
            "enum": [
              "5m",
              "15m",
              "30m",
              "1h",
              "24h"
            ]
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "coverage": {
            "type": "string",
            "enum": [
              "COMPLETE",
              "PARTIAL",
              "NONE"
            ],
            "description": "COMPLETE: ingestion covers the whole window, so zero means no activity. PARTIAL: observed values only. NONE: not covered; all values null."
          },
          "trades": {
            "type": [
              "integer",
              "null"
            ]
          },
          "buys": {
            "type": [
              "integer",
              "null"
            ]
          },
          "sells": {
            "type": [
              "integer",
              "null"
            ]
          },
          "volumeQuote": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^-?\\d+(\\.\\d+)?$",
            "description": "Sum of trader-side quote amounts; each trade counted once.",
            "example": "0.000000014640145702"
          },
          "volumeUsd": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^-?\\d+(\\.\\d+)?$",
            "description": "Sum of per-trade USD at each trade's time; null unless every trade in the window was valued.",
            "example": "0.000000014640145702"
          },
          "tradesValuedUsd": {
            "type": [
              "integer",
              "null"
            ]
          },
          "priceChangePct": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^-?\\d+(\\.\\d+)?$",
            "description": "Latest price vs the last price at or before the window start; null without a baseline.",
            "example": "0.000000014640145702"
          }
        },
        "required": [
          "window",
          "from",
          "to",
          "coverage",
          "trades",
          "buys",
          "sells",
          "volumeQuote",
          "volumeUsd",
          "tradesValuedUsd",
          "priceChangePct"
        ]
      },
      "MarketRecentTrade": {
        "type": "object",
        "properties": {
          "side": {
            "type": "string",
            "enum": [
              "buy",
              "sell"
            ]
          },
          "tokenAmount": {
            "type": "string",
            "pattern": "^-?\\d+(\\.\\d+)?$",
            "description": "Decimal string, already scaled by decimals.",
            "example": "0.000000014640145702"
          },
          "quoteAmount": {
            "type": "string",
            "pattern": "^-?\\d+(\\.\\d+)?$",
            "description": "Decimal string, already scaled by decimals.",
            "example": "0.000000014640145702"
          },
          "price": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^-?\\d+(\\.\\d+)?$",
            "description": "Decimal string, already scaled by decimals.",
            "example": "0.000000014640145702"
          },
          "usd": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^-?\\d+(\\.\\d+)?$",
            "description": "Decimal string, already scaled by decimals.",
            "example": "0.000000014640145702"
          },
          "trader": {
            "type": "string"
          },
          "txHash": {
            "type": "string"
          },
          "logIndex": {
            "type": "integer"
          },
          "block": {
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          },
          "venue": {
            "type": "string",
            "enum": [
              "BONDING_CURVE",
              "UNISWAP_V4"
            ]
          }
        },
        "required": [
          "side",
          "tokenAmount",
          "quoteAmount",
          "price",
          "usd",
          "trader",
          "txHash",
          "logIndex",
          "block",
          "timestamp",
          "venue"
        ]
      },
      "MarketEvidenceResponse": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "apiVersion": {
                "type": "number",
                "enum": [
                  1
                ]
              },
              "status": {
                "type": "string",
                "enum": [
                  "AVAILABLE"
                ]
              },
              "evidence": {
                "$ref": "#/components/schemas/MarketEvidence"
              }
            },
            "required": [
              "apiVersion",
              "status",
              "evidence"
            ]
          },
          {
            "type": "object",
            "properties": {
              "apiVersion": {
                "type": "number",
                "enum": [
                  1
                ]
              },
              "status": {
                "type": "string",
                "enum": [
                  "UNSUPPORTED"
                ]
              },
              "reason": {
                "type": "string",
                "enum": [
                  "UNKNOWN_TOKEN",
                  "PROTOCOL_MISMATCH",
                  "GRADUATION_IN_PROGRESS",
                  "RESCUED",
                  "POOL_REGISTRATION_INCONSISTENT"
                ]
              },
              "detail": {
                "type": "string"
              },
              "block": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PinnedBlockRef"
                  },
                  {
                    "type": [
                      "object",
                      "null"
                    ]
                  }
                ]
              }
            },
            "required": [
              "apiVersion",
              "status",
              "reason",
              "detail",
              "block"
            ]
          },
          {
            "type": "object",
            "properties": {
              "apiVersion": {
                "type": "number",
                "enum": [
                  1
                ]
              },
              "status": {
                "type": "string",
                "enum": [
                  "UNAVAILABLE"
                ]
              },
              "reason": {
                "type": "string"
              },
              "detail": {
                "type": "string"
              },
              "retryable": {
                "type": "boolean",
                "enum": [
                  true
                ]
              }
            },
            "required": [
              "apiVersion",
              "status",
              "reason",
              "detail",
              "retryable"
            ]
          }
        ]
      },
      "MarketEvidence": {
        "type": "object",
        "properties": {
          "chain": {
            "type": "string",
            "enum": [
              "robinhood"
            ]
          },
          "tokenAddress": {
            "type": "string"
          },
          "phase": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "BONDING_CURVE",
                  "GRADUATION_IN_PROGRESS",
                  "UNISWAP_V4_POOL",
                  "RESCUED"
                ]
              },
              "onChainValue": {
                "type": "integer"
              }
            },
            "required": [
              "code",
              "onChainValue"
            ]
          },
          "venue": {
            "$ref": "#/components/schemas/QuoteVenue"
          },
          "block": {
            "$ref": "#/components/schemas/PinnedBlockRef"
          },
          "observedAt": {
            "type": "string",
            "description": "When the chain was read. Responses may be shared for a few seconds; this never changes on a cached copy."
          },
          "calculationVersion": {
            "type": "string"
          },
          "token": {
            "type": "object",
            "properties": {
              "symbol": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "decimals": {
                "type": "integer"
              }
            },
            "required": [
              "symbol",
              "decimals"
            ]
          },
          "pairAsset": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string"
              },
              "symbol": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "decimals": {
                "type": "integer"
              }
            },
            "required": [
              "currency",
              "symbol",
              "decimals"
            ]
          },
          "spotPrice": {
            "type": "object",
            "properties": {
              "pairBaseUnitsPerWholeTokenX36": {
                "type": "string",
                "pattern": "^\\d+$",
                "description": "Pair-asset base units per one whole token, scaled by 1e36. Divide by 1e36 × 10^pairAsset.decimals for pair-asset units.",
                "example": "10000000000000000"
              },
              "method": {
                "type": "string",
                "enum": [
                  "CURVE_RESERVES",
                  "POOL_SQRT_PRICE"
                ]
              }
            },
            "required": [
              "pairBaseUnitsPerWholeTokenX36",
              "method"
            ]
          },
          "fees": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string",
                  "enum": [
                    "CURVE_PROTOCOL_FEE",
                    "CURVE_CREATOR_TAX",
                    "HOOK_FEE",
                    "HOOK_CREATOR_TAX"
                  ]
                },
                "bps": {
                  "type": "integer"
                },
                "source": {
                  "type": "string"
                }
              },
              "required": [
                "kind",
                "bps",
                "source"
              ]
            }
          },
          "curve": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "address": {
                "type": "string"
              },
              "realQuoteHeld": {
                "type": "string",
                "pattern": "^\\d+$",
                "description": "Quote asset the curve actually holds from trading (excludes virtual reserve and pending fees).",
                "example": "10000000000000000"
              },
              "graduationThreshold": {
                "type": "string",
                "pattern": "^\\d+$",
                "description": "Non-negative integer in base units, as a decimal string.",
                "example": "10000000000000000"
              },
              "graduationProgressBps": {
                "type": "integer"
              },
              "sellableTokens": {
                "type": "string",
                "pattern": "^\\d+$",
                "description": "Non-negative integer in base units, as a decimal string.",
                "example": "10000000000000000"
              },
              "snipeWindowOpen": {
                "type": "boolean"
              }
            },
            "required": [
              "address",
              "realQuoteHeld",
              "graduationThreshold",
              "graduationProgressBps",
              "sellableTokens",
              "snipeWindowOpen"
            ]
          },
          "depth": {
            "type": "object",
            "properties": {
              "method": {
                "type": "string",
                "enum": [
                  "CURVE_FORMULA_AT_PINNED_BLOCK",
                  "V4_QUOTER_ETH_CALL"
                ]
              },
              "referenceReserve": {
                "type": "string",
                "pattern": "^\\d+$",
                "description": "Pair-side reserve the reference sizes (0.1%, 1%, 5%) are taken from.",
                "example": "10000000000000000"
              },
              "rows": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MarketDepthRow"
                }
              }
            },
            "required": [
              "method",
              "referenceReserve",
              "rows"
            ]
          },
          "advanced": {
            "type": "object",
            "properties": {
              "poolId": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "poolKey": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/QuotePoolKey"
                  },
                  {
                    "type": [
                      "object",
                      "null"
                    ]
                  }
                ]
              },
              "sqrtPriceX96": {
                "type": [
                  "string",
                  "null"
                ],
                "pattern": "^\\d+$",
                "description": "Non-negative integer in base units, as a decimal string.",
                "example": "10000000000000000"
              },
              "tick": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "activeLiquidityRaw": {
                "type": [
                  "string",
                  "null"
                ],
                "pattern": "^\\d+$",
                "description": "Uniswap V4 active liquidity L. Advanced protocol parameter — never ETH reserves, USD or sell proceeds.",
                "example": "10000000000000000"
              },
              "lpFeeHundredthsBip": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "curveQuoteReserveIncludingVirtual": {
                "type": [
                  "string",
                  "null"
                ],
                "pattern": "^\\d+$",
                "description": "Non-negative integer in base units, as a decimal string.",
                "example": "10000000000000000"
              },
              "curveTokenReserve": {
                "type": [
                  "string",
                  "null"
                ],
                "pattern": "^\\d+$",
                "description": "Non-negative integer in base units, as a decimal string.",
                "example": "10000000000000000"
              }
            },
            "required": [
              "poolId",
              "poolKey",
              "sqrtPriceX96",
              "tick",
              "activeLiquidityRaw",
              "lpFeeHundredthsBip",
              "curveQuoteReserveIncludingVirtual",
              "curveTokenReserve"
            ]
          },
          "usd": {
            "type": "object",
            "properties": {
              "available": {
                "type": "boolean",
                "enum": [
                  false
                ]
              },
              "reason": {
                "type": "string"
              }
            },
            "required": [
              "available",
              "reason"
            ]
          },
          "missingEvidence": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "detail": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "detail"
              ]
            }
          },
          "limitations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EvidenceLimitation"
            }
          },
          "sourceReferences": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SourceReference"
            }
          }
        },
        "required": [
          "chain",
          "tokenAddress",
          "phase",
          "venue",
          "block",
          "observedAt",
          "calculationVersion",
          "token",
          "pairAsset",
          "spotPrice",
          "fees",
          "curve",
          "depth",
          "advanced",
          "usd",
          "missingEvidence",
          "limitations",
          "sourceReferences"
        ]
      },
      "MarketDepthRow": {
        "type": "object",
        "properties": {
          "side": {
            "type": "string",
            "enum": [
              "buy",
              "sell"
            ]
          },
          "amountIn": {
            "type": "string",
            "pattern": "^\\d+$",
            "description": "Non-negative integer in base units, as a decimal string.",
            "example": "10000000000000000"
          },
          "expectedOut": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^\\d+$",
            "description": "Non-negative integer in base units, as a decimal string.",
            "example": "10000000000000000"
          },
          "allInImpactBps": {
            "type": [
              "integer",
              "null"
            ]
          },
          "unavailableReason": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "side",
          "amountIn",
          "expectedOut",
          "allInImpactBps",
          "unavailableReason"
        ]
      },
      "EvidenceSnapshot": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "QUOTE",
              "SIMULATION"
            ]
          },
          "status": {
            "type": "string"
          },
          "chain": {
            "type": "string"
          },
          "tokenAddress": {
            "type": "string"
          },
          "side": {
            "type": "string"
          },
          "parentId": {
            "type": [
              "string",
              "null"
            ]
          },
          "block": {
            "allOf": [
              {
                "$ref": "#/components/schemas/PinnedBlockRef"
              },
              {
                "type": [
                  "object",
                  "null"
                ]
              }
            ]
          },
          "observedAt": {
            "type": "string"
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "calculationVersion": {
            "type": [
              "string",
              "null"
            ]
          },
          "policyVersion": {
            "type": "string"
          },
          "payloadSha256": {
            "type": "string"
          },
          "payload": {
            "type": "object",
            "additionalProperties": {}
          },
          "sourceReferences": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SourceReference"
            }
          },
          "missingEvidence": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "detail": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "detail"
              ]
            }
          },
          "createdAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "kind",
          "status",
          "chain",
          "tokenAddress",
          "side",
          "parentId",
          "block",
          "observedAt",
          "expiresAt",
          "calculationVersion",
          "policyVersion",
          "payloadSha256",
          "payload",
          "sourceReferences",
          "missingEvidence",
          "createdAt"
        ]
      },
      "PaperPositionResponse": {
        "type": "object",
        "properties": {
          "apiVersion": {
            "type": "number",
            "enum": [
              1
            ]
          },
          "created": {
            "type": "boolean"
          },
          "position": {
            "$ref": "#/components/schemas/PaperPosition"
          }
        },
        "required": [
          "apiVersion",
          "created",
          "position"
        ]
      },
      "PaperPosition": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "chain": {
            "type": "string"
          },
          "tokenAddress": {
            "type": "string"
          },
          "side": {
            "type": "string",
            "enum": [
              "buy",
              "sell"
            ]
          },
          "venue": {
            "$ref": "#/components/schemas/QuoteVenue"
          },
          "fillBasis": {
            "type": "string",
            "enum": [
              "EXECUTION_SIMULATION",
              "QUOTE"
            ]
          },
          "input": {
            "$ref": "#/components/schemas/AssetAmount"
          },
          "output": {
            "$ref": "#/components/schemas/AssetAmount"
          },
          "minimumOutput": {
            "type": "string",
            "pattern": "^\\d+$",
            "description": "Non-negative integer in base units, as a decimal string.",
            "example": "10000000000000000"
          },
          "createdAt": {
            "type": "string"
          },
          "quote": {
            "$ref": "#/components/schemas/EvidenceSnapshot"
          },
          "simulation": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EvidenceSnapshot"
              },
              {
                "type": [
                  "object",
                  "null"
                ]
              }
            ]
          },
          "paper": {
            "type": "boolean",
            "enum": [
              true
            ],
            "description": "Always true. Nothing here was signed or broadcast."
          }
        },
        "required": [
          "id",
          "chain",
          "tokenAddress",
          "side",
          "venue",
          "fillBasis",
          "input",
          "output",
          "minimumOutput",
          "createdAt",
          "quote",
          "simulation",
          "paper"
        ]
      },
      "CreatePaperPositionRequest": {
        "type": "object",
        "properties": {
          "quoteId": {
            "type": "string",
            "format": "uuid"
          },
          "simulationId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "A successful simulation of the same quote. Omit to save a quote-based fill."
          }
        },
        "required": [
          "quoteId",
          "simulationId"
        ]
      },
      "PaperPositionListResponse": {
        "type": "object",
        "properties": {
          "apiVersion": {
            "type": "number",
            "enum": [
              1
            ]
          },
          "positions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaperPosition"
            }
          },
          "observedAt": {
            "type": "string"
          }
        },
        "required": [
          "apiVersion",
          "positions",
          "observedAt"
        ]
      },
      "PracticeOverviewResponse": {
        "type": "object",
        "properties": {
          "apiVersion": {
            "type": "number",
            "enum": [
              1
            ]
          },
          "portfolios": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PracticePortfolio"
            }
          },
          "lesson": {
[...]
